{% extends 'mailings/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-12 mb-5">
                <a href="{% url 'mailings:mailing_create' %}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Создать рассылку</a>
            </div>
        </div>
    </div>
    <div class="row">
        {% for object in object_list %}
        {% if user == object.owner %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">{{ object.message.title }}</p>
                        <p>{{ object.last_send }}</p>
                        <p>{{ object.status }}</p>

                        <hr>
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'mailings:mailing_detail' object.pk %}">Детали</a>
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'mailings:mailing_update' object.pk %}">Редактировать</a>
                        <a class="btn btn-outline-danger float-right btn-sm" href="{% url 'mailings:mailing_delete' object.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}